:root {
  /* ### Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* ### Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--very-dark-blue);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden auto;
}

.column-flex-direction {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

main {
  align-items: center;
  flex: 1;
  gap: 2rem;
  justify-content: center;
}

header {
  gap: 1rem;
  text-align: center;
}

h1 {
  color: var(--grayish-blue);
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.5rem;
}

.header-description {
  color: var(--grayish-blue);
  max-width: 32rem;
}

.main-body {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 0.25rem;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
  gap: 0.75rem;
  height: 12rem;
  padding: 1rem;
  width: 16rem;
}

.card h3 {
  font-weight: 600;
}

.card p {
  color: var(--grayish-blue);
  font-size: 12px;
}

.card-image {
  text-align: right;
}

.card img {
  width: 2.5rem;
}

.card-container {
  gap: 2rem;
}

.supervisor {
  border-top: 3px solid var(--cyan);
}

.calculator {
  border-top: 3px solid var(--blue);
}

.karma {
  border-top: 3px solid var(--orange);
}

.team-builder {
  border-top: 3px solid var(--red);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 835px) {
  .container {
    padding: 1rem 1.75rem;
    gap: 2rem;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
